html {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #085078, #85D8CE) no-repeat;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0em;
}

.navbar {
    display: inline-flex;
    margin: 2%;
}

.profile-icon {
    position: absolute;
    right: 2%;
    vertical-align: middle;
}

.profile-icon svg {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    filter: opacity(0.5);
}

.profile-icon svg:hover {
    filter: opacity(1);
}

.profile-icon p {
    display: inline-block;
    color: whitesmoke;
}

.login-signup-form {
    display: none;
    margin: 100px auto;
    padding-bottom: 10px;
    width: 350px;
    background-color: whitesmoke;
    border-radius: 20px;
}

.button-select {
    text-align: center;
}

.button-select button {
    width: 100px;
    height: 40px;
    margin: 10px;
    border: none;
    background-color: transparent;
}

.button-select .selected {
    border-bottom: solid #085078;
}

.button-select button:focus,
input:focus {
    outline: none;
}

.login-form form,
.signup-form form,
.question-form form {
    margin-top: 10px;
    text-align: center;
}

.form-input {
    display: block;
    width: 300px;
    height: 35px;
    margin: 20px auto;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
    outline: none;
}

.form-input-button {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: 0px;
    background-color: #085078;
    color: white;
}

.form-input-button:disabled {
    background-color: darkgray;
    color: black;
    opacity: 0.5;
}

.profile-box {
    width: 50%;
    margin: 50px auto 0px;
    column-width: 100px;
}

.profile-picture svg {
    width: 120px;
    height: 120px;
}

.details-field {
    padding: 20% 0em 0em 0em;
}

.name-field,
.rating-field {
    font-size: 1.6em;
    color: white;
}

.name-field p {
    margin: 0em;
}

.extras-box {
    width: 60%;
    height: 300px;
    margin: 30px auto 0px;
    border-radius: 20px;
    background-color: white;
}

.ask-button {
    margin: 80px auto;
    width: 135px;
    outline: none;
}

.close-button {
    text-align: right;
}

.close-button button {
    background: transparent;
    border: none;
    outline: none;
}

.question-box {
    background-color: whitesmoke;
    margin: 5%;
    padding: 2%;
    border-radius: 10px;
}

.input-variable-width {
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .navbar {
        margin: 6%;
    }
    .profile-icon {
        right: 6%;
    }
    .login-signup-form {
        margin-top: 20%;
        width: 330px;
    }
    .profile-box {
        margin: 0px auto;
        columns: auto;
    }
    .profile-picture,
    .name-field,
    .rating-field {
        margin: 0px auto;
        text-align: center;
    }
    .details-field {
        padding: 0em;
    }
    .extras-box {
        width: 90%;
    }
    .extras-box .button-select button {
        width: 85px;
    }
}